* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    background-color: rgb(209, 204, 204);
    background-image:url("./image/pngtree-modern-double-color-futuristic-neon-background-picture-image_1181573.jpg");
    background-size: auto,50%;
    /* background-repeat: ; */
}

html{
    scroll-behavior: smooth;
}
body a :hover {
    cursor: pointer;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    z-index: 11;
    top: 0;
}

nav>div:first-child {
    width: 22%;
    padding: 1% 1% 1% 1%;
}

nav>div:first-child>h1>a {
    text-decoration: none;
    color: #689d33;
    /* font-family: 'Lobster Two', cursive; */
    font-weight: bolder;
}
#nav-menu{


}

nav>div:nth-child(2)>ul>li:nth-child(1)>a:hover {
    color:white; 
    font-weight: bolder;
    background-color:#689d33;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    transition: all .2s linear;
}
nav>div:nth-child(2)>ul>li:nth-child(2)>a:hover {
    color:white; 
    font-weight: bolder;
    background-color: #689d33;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    transition: all .2s linear;
}
nav>div:nth-child(2)>ul>li:nth-child(3)>a:hover {
    color:white; 
    font-weight: bolder;
    background-color: #689d33;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    transition: all .2s linear;
}
nav>div:nth-child(2)>ul>li:nth-child(4)>a:hover {
    color:white; 
    font-weight: bolder;
    background-color: #689d33;;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    transition: all .2s linear;
}
nav>div:nth-child(2)>ul>li:nth-child(5)>a:hover {
    color:white; 
    font-weight: bolder;
    background-color: #689d33;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    transition: all .2s linear;
}
nav>div:nth-child(2)>ul>li:nth-child(6)>a:hover {
    color:white; 
    font-weight: bolder;
    background-color: #689d33;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    transition: all .2s linear;
}

nav>div:nth-child(2) {
    width: 50%;
    font-weight: bolder;
    padding: 1% 1% 1% 1%;
}

nav>div:nth-child(2)>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>div:nth-child(2)>ul>li>a {
    text-decoration: none;
    color: black;
    padding: 8px 8px 8px 8px;
}

nav>div:nth-child(2)>ul>li>button {
    color: white;
    font-weight: bolder;
    background-color: #689d33;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: none;
}
nav>div:nth-child(2)>ul>li>button:hover {
    color: white;
    background-color: #689d33; 
    transition: all .2s linear; 
    /* padding: 10px 15px 10px 15px;  */
}
nav>div:nth-child(2)>ul>li>button>a {
    color: white;
    text-decoration: none;

}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #689d33;
    margin: 5px 15px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.barContainer {
    display: none;
}


.home1{
    width: 90%;
    border-radius: 10px;
    opacity: 0.8;
    background-color:white;
    height: 80vh;
    margin: 10vh auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home1>div:nth-child(1){
    color:  #689d33;
}
.home1>div:nth-child(1)>div:nth-child(1){
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 25px 0px 25px;
}
.home1>div:nth-child(1)>div:nth-child(2){
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 25px 0px 25px;
}
.home1>div:nth-child(1)>div:nth-child(3){
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 25px 0px 25px;
}
.home1>div:nth-child(2)>img{
    border-radius: 15px;
}
.about1{
    width: 100%;
    margin: auto;
    margin-top: 25px;
    padding: 50px 0 5px 0;
    text-align: center;
}
.about1>h1:nth-child(1){
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 15px;
}
.about1>div:nth-child(2){
    width: 95%;
    height: 90vh;
    /* opacity: 0.9; */
    margin: 5vh auto 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px 0 150px 0;
}
.about1>div:nth-child(2)>div:nth-child(1){
    text-align: center;
    /* margin-left: 10vw; */
    width: 70%;
}
.about1>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>button{
    padding: 10px 10px 10px 10px;
    background-color: #689d33;
    color: white;
    border-radius: 10px;
    border: 0;
    margin-top:15px ;
    margin-bottom: 15px;
}
.about1>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>button:hover{
    background-color: black;
    color: white;
    transition: all .2s linear;
    padding: 10px 15px 10px 15px;
}
.about1>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>button>a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 15px;
}

.about1>div:nth-child(3){
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about1>div:nth-child(2)>div:nth-child(2)>img{
    width: 40%;
    border-radius: 25px;
}
.footer{
    width: 100%;
    margin: auto;
    margin-top: 25px;
}
.footer>div:nth-child(1)>h1{
    margin-top: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bolder;
}
.footer>div:nth-child(1)>p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bolder;
}
.footer>div>div:nth-child(3){
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}
.footer>div>div:nth-child(3)>div{
    width: 18%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;

}
.footer>div>div:nth-child(3)>div:hover{
    box-shadow:2px 2px 10px #689d33;
    /* border-radius: 10px;
    padding: 0px 10px 0px 10px; */
    transition: all .2s linear;
}
.footer>div>div:nth-child(3)>div>a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 15px;
}
.footer>div>div:nth-child(3)>div>a:hover{
    /* font-size: 18px; */
    transition: all .2s linear;
}
.footer>div>div:nth-child(3)>div>a>img{
    width:30px;
    height: 45px;
}
.footer>div>div:nth-child(3)>div>a>img:hover{
    /* width:35px; */
    transition: all .2s linear;
}
#github{
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
#github>div:nth-child(1){
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.technicalSkills{
    width: 100%;
    margin-top: 25px;
    padding: 50px 0 50px 0;
    text-align: center;
}
.technicalSkills>h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.technicalSkills>div:nth-child(2){
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 50px 0 250px 10%;
    display: grid;
    grid-template-rows: repeat(3,35%);
    grid-template-columns:repeat(3,40%);
}
.technicalSkills>div:nth-child(2) div{
    width: 140px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.technicalSkills>div:nth-child(2) div>img{
    width: 100px;
}
.technicalSkills>div:nth-child(2) div:hover{
    box-shadow: 1px 1px 30px #689d33;
    /* border-radius: 10px; */
    transition: all .2s linear;
    /* padding: 0 10px 0 10px; */
    /* height: 115px; */
}

.github{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    padding: 50px 0 0px 0;
}
.github h2{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}
.github>div:nth-child(2){
    background-color: white;
}
:root {
    --color-calendar-graph-day-bg: #dddbdb;
    --color-calendar-graph-day-L1-bg: rgb(176, 112, 232);
    --color-calendar-graph-day-L2-bg: rgb(141, 67, 206);
    --color-calendar-graph-day-L3-bg: rgb(102, 8, 185);
    --color-calendar-graph-day-L4-bg: rgb(50, 0, 93);
  }
  
  rect.ContributionCalendar-day[data-level='0'] {
      fill: var(--color-calendar-graph-day-bg);
  }
  
  rect.ContributionCalendar-day[data-level='1'] {
      fill: var(--color-calendar-graph-day-L1-bg);
  }
  
  rect.ContributionCalendar-day[data-level='2'] {
      fill: var(--color-calendar-graph-day-L2-bg);
  }
  
  rect.ContributionCalendar-day[data-level='3'] {
      fill: var(--color-calendar-graph-day-L3-bg);
  }
  
  rect.ContributionCalendar-day[data-level='4'] {
      fill: var(--color-calendar-graph-day-L4-bg);
  }
  
  .calendar .width-full > .float-left {
      display: none;
  }
  .calendar {
      font-family: Helvetica, arial;
      border:0;
      border-radius: 3px;
      min-height: 243px;
      text-align: center;
      padding: 0px 20px;
      margin: 0 auto;
  }
  .calendar-graph {
      padding: 5px 0 0;
      text-align: center;
  }
  .contrib-column {
      padding: 15px 0;
      text-align: center;
      border-left: 1px solid black;
      border-top: 1px solid black;
      font-size: 18px;
  }
  .table-column {
      display: table-cell;
      width: 1%;
      padding-right: 10px;
      padding-left: 10px;
      vertical-align: top;
      color: rgb(97, 97, 97);
      font-weight: bolder;
      font-size:90%;
  }
  text.ContributionCalendar-label {
      fill:rgb(97, 97, 97);
      font-weight: bolder;
      font-size:55%;
  }
  #projects{
    width: 100%;
  }
  #projects>h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
  }
  #projects>div:nth-child(2){
    background-color: white;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0 25px 0;
  }
  #projects>div:nth-child(2)>div{
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 450px;
    color:black;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px 5px 35px 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
  }
  #projects>div:nth-child(2)>div:hover{
    box-shadow: 1px 1px 40px #689d33;
    border-radius: 20px;
    transition: all .1s linear;
    
    /* padding: 30px 5px 35px 5px; */
  }
  #projects>div:nth-child(2)>div a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-weight: 500;
  }
  #projects>div:nth-child(2)>div a:hover{
    font-size: 20px;
    transition: all .2s linear;
  }
  #projects>div:nth-child(2)>div>img{
    width: 90%;
    margin: auto;
    height: 250px;
  }
  #projects>div:nth-child(2)>div>div>div>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top:10px ;
    margin-bottom:10px ;
  }
  #projects>div:nth-child(2)>div>div>div>div>img{
    width: 40px;
  }
  #projects>div:nth-child(2)>div>div>div>div>img:hover{
    width: 45px;
    transition: all .2s linear;
  }
  #projects>div:nth-child(2)>div:nth-child(2)>div>div>div>img{
    width: 80px;
  }
  #projects>div:nth-child(2)>div:nth-child(2)>div>div>div>img:hover{
    width: 90px;
    transition: all .2s linear;
  }
  #projects>div:nth-child(2)>div:nth-child(1)>div>div>div>img{
    width: 80px;
  }
  #projects>div:nth-child(2)>div:nth-child(1)>div>div>div>img:hover{
    width: 90px;
    transition: all .2s linear;
  }
  #bottom{
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  #bottom p{
    font-size: 15px;
  }
  #bottom span{
    font-size: 15px;
  }
@media all and (min-width:600px) and (max-width:850px) {
nav{
    width: 100%;
}
    nav>div:nth-child(2) {
        display: block;
    }

    nav>div:nth-child(2)>ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 42px;
        top: 50px;
        width: 120px;
        left: 0;
        clear: both;
        background-color: #689d33;
        padding: 50px 25px 250px 80px;
        left: -100%;
        transition: all .5s linear;
    }

    nav>div:nth-child(2)>ul.active {
        left: 0;
    }

    nav>div:nth-child(2)>ul>li>a {
        color: white;
    }
    nav>div:nth-child(2)>ul>li>button {
        color: #689d33;
        background-color: white;
        padding: 3px 8px 3px 8px;
        border-radius: 4px;
        border: none;
    }
    nav>div:nth-child(2)>ul>li>button:hover {
        color: #689d33;
        background-color: white;
        padding: 5px 20px 5px 20px;
        transition: all .2s linear;
    }
    nav>div:nth-child(2)>ul>li>button>a {
        color: #689d33;
        font-weight: bolder;
        font-size: 18px;
    }

    nav>div:first-child {
        width: 80%;
        padding: 1% 1% 1% 1%;
    }

    .barContainer {
        display: block;
    }

    .barContainer.active>.bar:nth-child(2) {
        opacity: 0;
    }

    .barContainer.active>.bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .barContainer.active>.bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .home1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10vh auto 0 auto;
        padding: 50px 0 50px 0 ;
        
    }
    .home1>div:nth-child(1){
        display: flex;
        flex-direction:column;
        margin-top: 25px;
        align-items: center;
        width: 100%;
    }
    .home1>div:nth-child(1)>div:nth-child(1){
        width: 100%;
        font-size: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 25px 0px 25px;
    }
    .home1>div:nth-child(1)>div:nth-child(2){
        width: 100%;
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 25px 0px 25px;
    }
    .home1>div:nth-child(1)>div:nth-child(3){
        width: 100%;
        font-size: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 25px 0px 25px;
    }
    .home1>div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .home1>div:nth-child(2)>img{
        
        border-radius: 10px;
    }
    
    .home1>div:nth-child(2)>img{
        width: 40%;
    }
    .about1>div:nth-child(2){
        width: 93%;
        margin: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 15px 5px 15px 5px;
    }
    .about1>div:nth-child(2)>div:nth-child(1){
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .about1>div:nth-child(2)>div:nth-child(2){
        width: 100%;
    }
    .about1>div:nth-child(2)>div:nth-child(2)>img{
        width: 40%;
        border-radius: 15px;
    }
    .footer>div>div:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer>div>div:nth-child(3)>div{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .footer>div>div:nth-child(3)>a>img{
        width: 60px;
    }
    #github>div:nth-child(1)>img{
        width: 90%;
        margin: auto;
    }
    .technicalSkills>div:nth-child(2){
        background-color: white;
        width: 80%;
        margin: auto;
        padding: 25px 5% 150px 10%;
        display: grid;
        grid-template-rows: repeat(3,35%);
        grid-template-columns:repeat(3,40%);
    }
    #projects>div:nth-child(2)>div{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }
}














@media all and (max-width:599.99px) {
    nav>div:nth-child(2) {
        display: block;
    }

    nav>div:nth-child(2)>ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 42px;
        top: 45px;
        width: 120px;
        left: 0;
        clear: both;
        background-color: #689d33;
        padding: 50px 25px 250px 80px;
        left: -100%;
        transition: all .5s linear;
    }

    nav>div:nth-child(2)>ul.active {
        left: 0;
    }

    nav>div:nth-child(2)>ul>li>a {
        color: white;
    }

    nav>div:nth-child(2)>ul>li>button {
        color: rgb(126 34 206);
        background-color: white;
        padding: 3px 8px 3px 8px;
        border-radius: 4px;
        border: none;
    }
    nav>div:nth-child(2)>ul>li>button:hover {
        color: rgb(126 34 206);
        background-color: white;
        padding: 5px 20px 5px 20px;
        transition: all .2s linear;
    }
    nav>div:nth-child(2)>ul>li>button>a {
        color: rgb(126 34 206);
        font-weight: bolder;
        font-size: 18px;
    }

    nav>div:first-child {
        width: 80%;
        padding: 1% 1% 1% 1%;
    }

    .barContainer {
        display: block;
    }

    .barContainer.active>.bar:nth-child(2) {
        opacity: 0;
    }

    .barContainer.active>.bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .barContainer.active>.bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .home1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10vh auto 0 auto;
    }
    .home1>div:nth-child(1){
        display: flex;
        flex-direction:
        column;
        align-items: center;
        width: 100%;
    }
    .home1>div:nth-child(1)>div:nth-child(1){
        width: 100%;
        font-size: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 25px 0px 25px;
    }
    .home1>div:nth-child(1)>div:nth-child(2){
        width: 100%;
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 25px 0px 25px;
    }
    .home1>div:nth-child(1)>div:nth-child(3){
        width: 100%;
        font-size: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 25px 0px 25px;
    }
    .home1>div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .home1>div:nth-child(2)>img{
        border-radius: 5px;
    }
    
    .home1>div:nth-child(2)>img{
        width: 30%;
    }
    .about1>div:nth-child(2){
        width: 93%;
        margin: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 15px 5px 15px 5px;
    }
    .about1>div:nth-child(2)>div:nth-child(1){
        text-align: center;
        width: 90%;
        margin-bottom: 15px;
    }
    
    .about1>div:nth-child(2)>div:nth-child(2){
        width: 100%;
    }
    .about1>div:nth-child(2)>div:nth-child(2)>img{
        width: 50%;
        border-radius: 15px;
    }
    .footer>div>div:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer>div>div:nth-child(3)>div{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .footer>div>div:nth-child(3)>a>img{
        width: 50px;
    }
    #github>div:nth-child(1)>img{
        width: 100%;
        margin: auto;
    }
    .technicalSkills>div:nth-child(2){
        background-color: white;
        width: 80%;
        margin: auto;
        padding: 25px 15% 150px 2%;
        display: grid;
        grid-template-rows: repeat(3,35%);
        grid-template-columns:repeat(3,40%);
    }
    .technicalSkills>div:nth-child(2) div{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .technicalSkills>div:nth-child(2) div>img{
        width: 80px;
    }
    #projects>div:nth-child(2)>div{
        width: 80%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}